#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "gitlab-runner"
name = "GitLab Runner"
description.en = "Continuous integration tool to use with a GitLab instance (YNH or not)"
description.fr = "Outil d'intégration continue à utiliser avec une instance GitLab (YNH ou non)"

version = "17.3.1~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "MIT"
website = "https://gitlab.com/gitlab-org/gitlab-runner"
admindoc = "https://docs.gitlab.com/runner/"
code = "https://gitlab.com/gitlab-org/gitlab-runner"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64", "i386", "armhf", "arm64"]
multi_instance = false

ldap = "not_relevant"

sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.gitlab_url]
    ask.en = "Please enter the GitLab-CI coordinator URL"
    ask.fr = "Veuillez entrer l'URL du coordinateur GitLab-CI"
    help.en = "This URL can be retrieved at this location: GitLab Project->Settings->Runner or: Admin Area->Overview->Runners"
    help.fr = "Cet URL peut être récupéré à cet emplacement : Projet GitLab->Settings->Runner ou : Admin Area->Overview->Runners"
    type = "string"
    example = "https://gitlab.com/"

    [install.token]
    ask.en = "Please enter the GitLab-CI token for this Runner"
    ask.fr = "Veuillez entrer le jeton GitLab-CI pour ce Runner"
    help.en = "This token can be retrieved at this location: GitLab Project->Settings->Runner or: Admin Area->Overview->Runners"
    help.fr = "Ce token peut être récupéré à cet emplacement : Projet GitLab->Settings->Runner ou : Admin Area->Overview->Runners"
    type = "string"
    example = "xxx"

    [install.docker_image]
    ask.en = "Please enter the Docker image"
    ask.fr = "Veuillez entrer l'image du Docker"
    type = "string"
    example = "ruby:2.1"
    default = "alpine:latest"

[resources]
    [resources.sources.main]
    rename = "gitlab-runner.deb"
    amd64.url = "https://gitlab.com/gitlab-org/gitlab-runner/-/releases/v17.3.1/downloads/packages/deb/gitlab-runner_amd64.deb"
    amd64.sha256 = "e9642903469cf1842f1c7fcf4a11a2994629f4aed36639cda1a212b562a12f9e"
    i386.url = "https://gitlab.com/gitlab-org/gitlab-runner/-/releases/v17.3.1/downloads/packages/deb/gitlab-runner_i386.deb"
    i386.sha256 = "b648947a02361188886043a38ccd8b0c2ee242df3a171fb069ee59a379f6b616"
    arm64.url = "https://gitlab.com/gitlab-org/gitlab-runner/-/releases/v17.3.1/downloads/packages/deb/gitlab-runner_arm64.deb"
    arm64.sha256 = "fcdee00728d9d0fe7d50e014d6c26adceeec75712b92d765553898ebb051e724"
    armhf.url = "https://gitlab.com/gitlab-org/gitlab-runner/-/releases/v17.3.1/downloads/packages/deb/gitlab-runner_armhf.deb"
    armhf.sha256 = "6c2d730e2e778a72244518352dd3189803fd627226202c596264edade3ba5772"

    autoupdate.upstream = "https://gitlab.com/gitlab-org/gitlab-runner"
    autoupdate.strategy = "latest_gitlab_release"
    autoupdate.asset.amd64 = "package: DEB amd64"
    autoupdate.asset.i386 = "package: DEB i386"
    autoupdate.asset.arm64 = "package: DEB arm64"
    autoupdate.asset.armhf = "package: DEB armhf"

    [resources.system_user]

    [resources.install_dir]

    [resources.apt]
    packages = [
        "ca-certificates",
        "git",
        "curl",
        "tar",
    ]

    extras.docker.repo = "https://download.docker.com/linux/debian bullseye stable"
    extras.docker.key = "https://download.docker.com/linux/debian/gpg"
    extras.docker.packages = "docker-ce, docker-ce-cli, containerd.io"
